html {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #3b3b3b;
    background: rgb(166,167,177);
    background: -moz-linear-gradient(90deg, rgba(166,167,177,1) 0%, rgba(223,223,223,1) 33%, rgba(160,169,170,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(166,167,177,1) 0%, rgba(223,223,223,1) 33%, rgba(160,169,170,1) 100%);
    background: linear-gradient(90deg, rgba(166,167,177,1) 0%, rgba(223,223,223,1) 33%, rgba(160,169,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6a7b1",endColorstr="#a0a9aa",GradientType=1);

    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}
